<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Moms Kitchen.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>973A6DEBD25DBE8FD0BAC1FEAF1E24EBADC7288A</string>
				<key>dateExpires</key>
				<string>16/07/19</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>973A6DEBD25DBE8FD0BAC1FEAF1E24EBADC7288A</string>
						<key>dateExpires</key>
						<string>16/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M9P423N4Z7</string>
						<key>name</key>
						<string>NCRYPTED TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>973A6DEBD25DBE8FD0BAC1FEAF1E24EBADC7288A</string>
						<key>dateExpires</key>
						<string>16/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M9P423N4Z7</string>
						<key>name</key>
						<string>NCRYPTED TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>973A6DEBD25DBE8FD0BAC1FEAF1E24EBADC7288A</string>
						<key>dateExpires</key>
						<string>16/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AlamofireImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M9P423N4Z7</string>
						<key>name</key>
						<string>NCRYPTED TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>973A6DEBD25DBE8FD0BAC1FEAF1E24EBADC7288A</string>
						<key>dateExpires</key>
						<string>16/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Bolts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M9P423N4Z7</string>
						<key>name</key>
						<string>NCRYPTED TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>973A6DEBD25DBE8FD0BAC1FEAF1E24EBADC7288A</string>
						<key>dateExpires</key>
						<string>16/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M9P423N4Z7</string>
						<key>name</key>
						<string>NCRYPTED TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>973A6DEBD25DBE8FD0BAC1FEAF1E24EBADC7288A</string>
						<key>dateExpires</key>
						<string>16/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M9P423N4Z7</string>
						<key>name</key>
						<string>NCRYPTED TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>973A6DEBD25DBE8FD0BAC1FEAF1E24EBADC7288A</string>
						<key>dateExpires</key>
						<string>16/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FacebookCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M9P423N4Z7</string>
						<key>name</key>
						<string>NCRYPTED TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>973A6DEBD25DBE8FD0BAC1FEAF1E24EBADC7288A</string>
						<key>dateExpires</key>
						<string>16/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FacebookLogin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M9P423N4Z7</string>
						<key>name</key>
						<string>NCRYPTED TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>973A6DEBD25DBE8FD0BAC1FEAF1E24EBADC7288A</string>
						<key>dateExpires</key>
						<string>16/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GTMOAuth2.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M9P423N4Z7</string>
						<key>name</key>
						<string>NCRYPTED TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>973A6DEBD25DBE8FD0BAC1FEAF1E24EBADC7288A</string>
						<key>dateExpires</key>
						<string>16/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M9P423N4Z7</string>
						<key>name</key>
						<string>NCRYPTED TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>973A6DEBD25DBE8FD0BAC1FEAF1E24EBADC7288A</string>
						<key>dateExpires</key>
						<string>16/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M9P423N4Z7</string>
						<key>name</key>
						<string>NCRYPTED TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>973A6DEBD25DBE8FD0BAC1FEAF1E24EBADC7288A</string>
						<key>dateExpires</key>
						<string>16/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>IOSLinkedInAPIFix.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M9P423N4Z7</string>
						<key>name</key>
						<string>NCRYPTED TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>973A6DEBD25DBE8FD0BAC1FEAF1E24EBADC7288A</string>
						<key>dateExpires</key>
						<string>16/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M9P423N4Z7</string>
						<key>name</key>
						<string>NCRYPTED TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>973A6DEBD25DBE8FD0BAC1FEAF1E24EBADC7288A</string>
						<key>dateExpires</key>
						<string>16/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>LGSideMenuController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M9P423N4Z7</string>
						<key>name</key>
						<string>NCRYPTED TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>973A6DEBD25DBE8FD0BAC1FEAF1E24EBADC7288A</string>
						<key>dateExpires</key>
						<string>16/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>LinkedinSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M9P423N4Z7</string>
						<key>name</key>
						<string>NCRYPTED TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>973A6DEBD25DBE8FD0BAC1FEAF1E24EBADC7288A</string>
						<key>dateExpires</key>
						<string>16/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>lPaymentsSDK.a</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M9P423N4Z7</string>
						<key>name</key>
						<string>NCRYPTED TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>M9P423N4Z7.com.app.taskgator</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.icloud-container-environment</key>
				<string>Development</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array>
					<string>iCloud.com.app.taskgator</string>
				</array>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudDocuments</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>M9P423N4Z7</string>
				<key>com.apple.developer.ubiquity-container-identifiers</key>
				<array>
					<string>iCloud.com.app.taskgator</string>
				</array>
				<key>com.apple.developer.ubiquity-kvstore-identifier</key>
				<string>M9P423N4Z7.com.app.taskgator</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Moms Kitchen.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d52f53bb-9151-4bc0-adf8-08933dac32bd</string>
				<key>name</key>
				<string>TaskGator Development</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>M9P423N4Z7</string>
				<key>name</key>
				<string>NCRYPTED TECHNOLOGIES PRIVATE LIMITED</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
