<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>385137532920-drbc2rctn9cmcbork326vn27jblf2bit.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.385137532920-drbc2rctn9cmcbork326vn27jblf2bit</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.Luxongo</string>
	<key>PLACE_API</key>
	<string>AIzaSyB2e-OIzWxVtfw8cwvjxjBzIceLw2KllvI</string>
</dict>
</plist>
