# Ignore CocoaPods
Pods/
*.xcworkspace
*.xcuserstate

# Ignore build artifacts
build/
DerivedData/

# Ignore frameworks and large binaries
# Ignore CocoaPods
Pods/
*.xcworkspace
*.xcuserstate

# Ignore build artifacts
build/
DerivedData/

# Ignore frameworks and large binaries
# Ignore CocoaPods
Pods/
*.xcworkspace
*.xcuserstate

# Ignore build artifacts
build/
DerivedData/

# Ignore frameworks and large binaries

# Ignore CocoaPods
Pods/
*.xcworkspace
*.xcuserstate

# Ignore build artifacts
build/
DerivedData/


# Ignore frameworks and large binaries
*.framework
*.dSYM
*.a

# Ignore personal Xcode settings
xcuserdata/

# Ignore zip and archives
*.zip
*.rar
*.tar.gz


