<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>685816069664-k0s00equijka57fo0ovi9a4nbtco93ta.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.685816069664-k0s00equijka57fo0ovi9a4nbtco93ta</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>685816069664-k37ld3trlmgrr5ai8lr1nh131sekf25l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAoVICEIBfBhMP43vXsbzXfFSoJ-lQeLf0</string>
	<key>GCM_SENDER_ID</key>
	<string>685816069664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ott.firstshows.ent</string>
	<key>PROJECT_ID</key>
	<string>firstshows</string>
	<key>STORAGE_BUCKET</key>
	<string>firstshows.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685816069664:ios:9b1d3fed9590a867e44645</string>
	<key>DATABASE_URL</key>
	<string>https://firstshows.firebaseio.com</string>
</dict>
</plist>