<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:aasthatv.tv</string>
		<string>applinks:aastha-web-lb-1385980558.ap-south-1.elb.amazonaws.com</string>
		<string>applinks:www.aasthatv.tv</string>
		<string>applinks:www.aastha-web-lb-1385980558.ap-south-1.elb.amazonaws.com</string>
	</array>
	<key>com.apple.developer.networking.wifi-info</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)com.ott.aastha</string>
	</array>
</dict>
</plist>
