<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>945925342452-ljt986ema2fl6hl0k7okc258fma7e88g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.945925342452-ljt986ema2fl6hl0k7okc258fma7e88g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>945925342452-qrf4deffqskfrrl2499um43p3fg12ku0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAKocYeVGVB3N27TLMjT_4R15Ky3OszXpU</string>
	<key>GCM_SENDER_ID</key>
	<string>945925342452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ott.reeldrama.ent</string>
	<key>PROJECT_ID</key>
	<string>reeldrama-1599033587112</string>
	<key>STORAGE_BUCKET</key>
	<string>reeldrama-1599033587112.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945925342452:ios:c2cae7ed5da9d2b77ecaa1</string>
	<key>DATABASE_URL</key>
	<string>https://reeldrama-1599033587112.firebaseio.com</string>
</dict>
</plist>