<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>928545839029-rg96vv2s83ropeq4dsvdlj7mj7aesjic.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.928545839029-rg96vv2s83ropeq4dsvdlj7mj7aesjic</string>
	<key>API_KEY</key>
	<string>AIzaSyAICr8_vdN4677IwmZ3aJslT8xSxZnLTDs</string>
	<key>GCM_SENDER_ID</key>
	<string>928545839029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Staging.Levelshoes</string>
	<key>PROJECT_ID</key>
	<string>levelshoes-ios-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>levelshoes-ios-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928545839029:ios:584696ec18ac362d0febfc</string>
	<key>DATABASE_URL</key>
	<string>https://levelshoes-ios-staging.firebaseio.com</string>
</dict>
</plist>