<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>873253299212-4a9oabtsl7f55730vlqo58ssbp4mmtmd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.873253299212-4a9oabtsl7f55730vlqo58ssbp4mmtmd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>873253299212-nqagah6ge7mt0o7dcvju2lklojjfpl97.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC6TiE766bT2mlhddql775KYQd7lqnp7QQ</string>
	<key>GCM_SENDER_ID</key>
	<string>873253299212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lida.booknridepassenger</string>
	<key>PROJECT_ID</key>
	<string>piqup-d64da</string>
	<key>STORAGE_BUCKET</key>
	<string>piqup-d64da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:873253299212:ios:548ea03c92aeedbf</string>
	<key>DATABASE_URL</key>
	<string>https://piqup-d64da.firebaseio.com</string>
</dict>
</plist>