<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>list</key>
	<array>
		<dict>
			<key>name</key>
			<string>Home</string>
			<key>image</key>
			<string>home_icon</string>
		</dict>
		<dict>
			<key>name</key>
			<string>My Profile</string>
			<key>image</key>
			<string>myprofile_icon</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Financial Information</string>
			<key>image</key>
			<string>financial_info_icon</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rides</string>
			<key>image</key>
			<string>rides_icon</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Notifications</string>
			<key>image</key>
			<string>notifications_icon</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Account Settings</string>
			<key>image</key>
			<string>account_settings_icon</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Help</string>
			<key>image</key>
			<string>help_icon</string>
		</dict>
		<dict>
			<key>name</key>
			<string>About</string>
			<key>image</key>
			<string>about_icon</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Info</string>
			<key>image</key>
			<string>info_icon</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Logout</string>
			<key>image</key>
			<string>logout_icon</string>
		</dict>
	</array>
</dict>
</plist>
